@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: Black;
    --secondary-color: rgb(52, 46, 46);
    --accent1-color: #573b3b;
    --accent2-color: #04070d;
    
    --heading-font:'Fairplay',fairplay;
    --paragraph-font:'Roboto',roboto;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #423014;
    --nav-hover-link-color: #14213D;
    --nav-hover-background-color: #FFFFFF;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 29%;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 940px;
    grid-template-rows: 170px auto;
    background-color: var(--nav-background-color);
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 20px;
    color: var(--nav-link-color);
}

.navigation a:hover {
    color: var(--nav-hover-background-color)
}

.logo {
    margin: 0 0.25rem 0 4rem;
    width: 150px;
    height: auto;
}

body {
    font-family: var(--paragraph-font);
    color: #393939;
    max-width: 960px;
    padding: 0;
    margin: 0;
}

.company-name {
    position: absolute;
    top: 10%;
    left: 31%;
    font-family: var(--heading-font);
    color: var(--accent1-color)
}

.hero {
    display: block;
    position: relative;
    margin-bottom: 35px;
    padding: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.happy-block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 93.8%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 20px;
    margin-top: 18%;
    margin-left: 10px;
}

.happy-block-overlay img{
    position: absolute;
    float: right;
    padding-left: 10px;
    width: 200px;
    height: auto;
    left: 625px;
    top: 6.5%;
    width: 200px
}

.happy-block-overlay p {
    position: absolute;
    color: #141310;
    float: left;
    width: 500px;
    height: auto;
    top: 40%;
    padding: 2px;
    right: 330px;
}

.book {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #21201f;
    font-family: var(--heading-font);
    font-size: 2rem;
}

.contact-btn {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c0bbb7;
    color: var(--secondary-color);
    font-weight: 700;
    font-family: var(--paragraph-font);
    font-size: 1.3rem;
    text-align: center;
    width: 200px;
    text-decoration: none;
    padding: .75rem .75rem .75rem .75rem;
    border-radius: .5rem;
}

.trip {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    justify-items: center;
    grid-gap: 10px;
    padding-bottom: 3rem;
}

.trip .figure-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-row: 2;
    margin-top: -1rem;
}

.trip h2 {
   text-align: center;
   padding-top: 3rem;
}

.explore {
    display: block;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 0;
}

.half, .full, .two-day, .teambuilding {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: var(--secondary-color);
    padding-bottom: .5rem;
    font-weight: bold;
}

.half-description, .full-description, .twoday-description, .team-description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: .75rem;
    color: var(--secondary-color);
    height: 50px;
}

.book-now button[type='submit'] {
    margin: .5rem auto;
    display: flex;
    justify-content: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-weight: 500;
    border: none;
    border-radius: .5rem;
    padding: .5rem .75rem;
    font-size: 1rem;
}

.history-text {
    display: block;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.history img {
    width: auto;
    height: 160px;
    margin: 10px;
}

.history p {
    margin: 10px;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    max-width: 960px;
    padding: 0;   
}

p {
    color: #393939;
}

.adventure {
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}

.adventure h2 {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    grid-gap: 10px;
}

figure {
    width: 150px;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 10 / 9;
}

figcaption {
    display: block;
    font: var(--paragraph-font);
    color: var(--primary-color);
    font-size: .75rem;
    white-space: nowrap;
    margin-top: 5px;
    text-align: center;
}

footer {
    display: flex;
    padding: 10px;
    background-color: var(--nav-background-color);
    margin-top: 35px;
}

.sociallinks {
    display: flex;
    margin-left: auto;
}

.sociallinks a {
    margin-left: 10px;
    width: 50px;
    height: auto;
    text-decoration: none;
}

 .wireframe {
    display: flex;
}

.wireframe img {
    padding-left: 21rem;
    width: auto;
    height: 50px;
    text-decoration: none;
}
.form-item {
    display: grid;
    width: 400px;
    line-height: 40px;
    
}
form {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid rgb(103, 124, 145);
    background-color:#eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(134, 148, 162);
    padding: 1rem;
}

legend {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--primary-color);
}

label, input, button, textarea {
    font-family: 'raleway', sans-serif;
}

label {
    text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type='checkbox'] {
    width: 22px;
    height: 22px;
    position: relative;
    vertical-align: middle;
}

button[type='submit'] {
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
}

.submit-button:hover {
    background-color: var(--accent2-color);
}

input[type='text'] {
    margin-left: 1rem;
}

input[type='email'] {
    margin-left: 3.2rem;
}

h3 {
    border-bottom: 1px solid var(--secondary-color);
    padding-top: .5rem;
}

.help {
    text-align: center;
    padding-top: .5rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.employee h2 {
    text-align: center;
    padding-top: 2rem;
}

.map {
    width: 100%;
    padding-bottom: 66.66%;
    position: relative;
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 80%;
    margin-left: 9%;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: var(--paragraph-font);
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

thead {
    background-color: var(--nav-link-color);
    color: #eee;
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: #eee;
}