* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif ;
}

p {
    padding-left: 20px;

    }

nav {
    background-color: steelblue;
    padding: 10px;
    line-height: .01;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 640px;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

aside {
width: 20rem;
border: 1px solid rgba(0,0,0,.1); 
background-color: #eee;
color: #333;
text-align: center;
position: relative;
}

h2 {
    position: absolute;
    top: 15px;
    left: 65px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selector */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}